* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.supercontainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 530px;
  width: 530px;
  flex-wrap: wrap;
}

button {
  width: 190px;
}
